/* hack */
@font-face {
  font-family: 'hack';
  src: url("/font/hack-regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* d2coding */
@font-face {
  font-family: 'D2Coding';
  src: url("/font/D2Coding.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* 프리텐다드 */
@font-face {
  font-family: 'Pretendard';
  src: url("/font/Pretendard-Thin.woff2") format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("/font/Pretendard-ExtraLight.woff2") format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("/font/Pretendard-Light.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("/font/Pretendard-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("/font/Pretendard-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("/font/Pretendard-SemiBold.woff2") format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("/font/Pretendard-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("/font/Pretendard-ExtraBold.woff2") format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("/font/Pretendard-Black.woff2") format('woff2');
  font-weight: 900;
  font-style: normal;
}

.hack {
    font-family: 'hack';
}

:root {
  --vp-font-family-base: 'Pretendard', system-ui;
}

code, pre {
  font-family: 'D2Coding', system-ui !important;
}